@charset "UTF-8";
html, body {
	margin: 0;
	padding: 0;
}
div, h1, h2, h3, h4, h5, h6, p, ul, ol, dl, li, dt, dd, address, blockquote {
	margin: 0;
	padding: 0;
	color: #000000;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 90%;
}
#header {
	margin-bottom: 1em;
	border-bottom: 2px solid #000000;
	margin-top: 1px;
}
#header h1 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 3em;
	color: #0657a6;
	font-weight: normal;
}
#header h2 {
	font-size: 1.4em;
	margin-bottom: .5em;
	display: block;
}
img.floatIMG {
	float: left;
	padding-right: 1em;
}
p {
	font-size: .9em;
	margin-bottom: 1em;
	/* [disabled]width: 0px; */
	display: block;
	margin-top: 0px;
	color: #000000;
}
dt {
	margin: 0 0 .5em;
	font-size: .9em;
	color: #0657A6;
	font-weight: bold;
}
dd {
	margin: 0 0 1em;
	font-size: .9em;
	padding: 0;
	display: block;
}
#artwork h2 {
	font-size: 1em;
	color: #630;
	margin-bottom: .5em;
}
.gallery img {
	display: block;
	margin-bottom: 0;
}
p.caption {
	font-style: italic;
	text-align: center;
}
#footer {
	line-height: 50px;
	text-align: center;
	background-color: #0657A6;
	color: white;
	font-size: .8em;
	padding: 1em;
	/* [disabled]display: inline-table; */
	margin-top: 20px;
	width: auto;
}
#footer a {
	text-decoration: none;
	font-weight: bold;
	color: #ffffff;
	width: 100%;
	margin-top: 0px;
}

.gallery {
	width: 45%;
	float: left;
	margin-right: 5%;
}
#copy {
	color: #ffffff;		
}
.secColor{
	color: #93ABC5;	
}
